<h1 >{{titulo}}</h1>

<h2 >{{mensaje}}</h2>

<h5>payment_id => {{ payment_info.payment_id }}</h5>

<h5>external_reference => {{ payment_info.external_reference }}</h5>

<h5>merchant_order_id => {{ payment_info.merchant_order_id }}</h5>

<p>asd</p>